@font-face {
  font-family: $roboto;
  src: url(../../../assets/fonts/roboto-v30-latin-regular.woff);
}

@font-face {
  font-family: $roboto_bold;
  src: url(../../../assets/fonts/roboto-v30-latin-700.woff);
}
