<div class="profile" (click)="openModalWithComponent()">
  <div class="header">
    <div class="header_content">
      <img src="assets/icons/codicon_home.svg" alt="">
      <img src="assets/icons/ant-design_compass-outlined.svg" alt="">
      <img src="assets/icons/bx_message-square-detail.svg" alt="">
      <img src="assets/icons/octicon_bell-16.svg" alt="">
      <img src="assets/icons/ci_user-circle.svg" alt="">
    </div>
  </div>
  <div class="profile_content">
    <div class="empty">

    </div>
    <div class="main_content">
      <div class="profile_entry">
        <div class="profile_cover">
          <div class="short_data">
            <div class="back_name d-flex align-items-center">
              <img class="back pointer" src="assets/icons/back.svg" alt="">
              <div class="">
                <div class="d-flex align-items-center">
                  <p class="name">{{ 'profile.name' | translate }}</p>
                  <img class="tick" src="assets/icons/charm_circle-tick.svg" alt="">
                </div>
                <div class="d-flex align-items-center">
                  <p class="statistics">   <img src="assets/icons/Group.svg" alt=""><b>{{ 'profile.postAmount' | translate }}</b> <span>{{ 'profile.posts' | translate }}</span></p>
                  <div class="dot"></div>
                  <p class="statistics">
                    <img src="assets/icons/icon-park-outline_like.svg" alt="">


                    <b>{{ 'profile.likeAmount' | translate }}</b><span> {{ 'profile.likes' | translate }}</span></p>
                  <div class="dot"></div>
                  <p class="statistics">    <img src="assets/icons/bi_people.svg" alt=""> <b>{{ 'profile.followerAmount' | translate }}</b> <span>{{ 'profile.followers' | translate }}</span></p>
                </div>
              </div>
            </div>
            <img class="more pointer" src="assets/icons/charm_menu.svg" alt="">
          </div>

        </div>
        <div class="avatar_actions">
        <div class="avatar pointer">
          <div class="online"></div>
        </div>
          <div class="actions d-flex align-items-center">
            <img src="assets/icons/favorite.svg" alt="">
            <img src="assets/icons/share.svg" alt="">
          </div>
        </div>
        <div class="profile_info_desc">
          <div class="d-flex align-items-center mb-2">
            <p class="name_dark">{{ 'profile.name' | translate }}</p>
            <img src="assets/icons/charm_circle-tick-dark.svg" alt="">
          </div>
          <div class="username d-flex align-items-center">
            <p>{{ 'profile.username' | translate }}</p>
            <p>{{ 'profile.available' | translate }}</p>
          </div>
          <p>{{ 'profile.userBio' | translate }}</p>
          <p class="read_more">{{ 'profile.readMore' | translate }}</p>
          <div class="socials d-flex align-items-center">
            <div class="social_item socials d-flex align-items-center">
              <div class="social_icon instagram d-flex align-items-center justify-content-center">
                <img src="assets/icons/akar-icons_instagram-fill.svg" alt="">
              </div>
              <p>{{ 'profile.Instagram' | translate }}</p>
            </div>
            <div class="social_item socials d-flex align-items-center">
              <div class="social_icon tiktok d-flex align-items-center justify-content-center">
                <img src="assets/icons/bxl_tiktok.svg" alt="">
              </div>
              <p>{{ 'profile.TikTok' | translate }}</p>
            </div>
            <div class="social_item socials d-flex align-items-center">
              <div class="social_icon twitter d-flex align-items-center justify-content-center">
                <img src="assets/icons/arcticons_twitter.svg" alt="">
              </div>
              <p>{{ 'profile.Twitter' | translate }}</p>
            </div>
          </div>
          <div class="navigates d-flex align-items-center">
            <div class="navigate_item pointer">
              <p>{{ 'profile.wishLists' | translate }}</p>
            </div>
            <div class="navigate_item navigate_item2 pointer">
              <p>{{ 'profile.videos' | translate }}</p>
            </div>
            <div class="navigate_item navigate_item3 pointer">
              <p>{{ 'profile.stories' | translate }}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="profile_posts">
        <div class="post_tabs">
          <div class="posts">
            <p>{{ 'profile.tabPosts' | translate }}</p>
          </div>
          <div class="medias">
            <p>{{ 'profile.tabMedias' | translate }}</p>
          </div>
        </div>
        <div class="post_filter d-flex align-items-center justify-content-between">
          <p >{{ 'profile.recents' | translate }}</p>
          <div class="filter d-flex align-items-center">
            <img src="assets/icons/bx_search.svg" alt="">
            <img src="assets/icons/filter.svg" alt="">
          </div>
        </div>
        <div class="tags d-flex align-items-center">
          <div class="tag_item selected d-flex align-items-center justify-content-center">
            {{ 'profile.all' | translate }}
          </div>
          <div class="tag_item d-flex align-items-center justify-content-center">
            {{ 'profile.archived' | translate }}
          </div>
          <div class="tag_item d-flex align-items-center justify-content-center">
            {{ 'profile.private' | translate }}
          </div>
          <div class="tag_item d-flex align-items-center justify-content-center">
             {{ 'profile.sales' | translate }}
          </div>
        </div>
        <div class="post_wrapper">
        <div class="post_info content_pad">
          <div class="info_top d-flex align-items-center justify-content-between">
            <div class="avatar_name d-flex align-items-center ">
              <img src="assets/icons/Profileavatar.svg" alt="">
              <div>
                <div class="d-flex align-items-center">
                  <p class="name_sm">{{ 'profile.name' | translate }}</p>
                  <img src="assets/icons/charm_circle-tick-dark.svg" alt="">
                </div>
                <p class="username_sm">{{ 'profile.username' | translate }}</p>
              </div>
            </div>
            <p class="post_date">{{ 'profile.post1Uploaded' | translate }}</p>
          </div>
          <p class="post_desc">{{ 'profile.post1Description' | translate }}</p>
        </div>
        <div class="post">
<!--          <video [muted]="true"  playsinline-->
<!--                 defaultMuted  oncontextmenu="return false;"  preload="auto" style="display: block; margin: 0 auto;height: 100%; width: 100%"  loop   autoplay="autoplay">-->

<!--            <source src="assets/videos/eeedddeeeee.mp4"-->
<!--                    type="video/mp4">-->
<!--            Sorry, your browser doesn't support embedded videos.-->
<!--          </video>-->
        </div>
        <div class="post_actions content_pad d-flex align-items-center justify-content-between">
          <div class="action_icons d-flex align-items-center">
            <img src="assets/icons/akar-icons_heart.svg" alt="">
            <img src="assets/icons/uil_comment.svg" alt="">
            <img src="assets/icons/ant-design_dollar-circle-outlined.svg" alt="">
            <p>{{ 'profile.sendTip' | translate }}</p>
          </div>
          <img class="pointer" src="assets/icons/book.svg" alt="">
        </div>
        <p class="content_pad"> {{ 'profile.post1Likes' | translate }}</p>
        <hr>
        </div>
        <div class="post_wrapper">
          <div class="post_info content_pad">
            <div class="info_top d-flex align-items-center justify-content-between">
              <div class="avatar_name d-flex align-items-center ">
                <img src="assets/icons/Profileavatar.svg" alt="">
                <div>
                  <div class="d-flex align-items-center">
                    <p class="name_sm">{{ 'profile.name' | translate }}</p>
                    <img src="assets/icons/charm_circle-tick-dark.svg" alt="">
                  </div>
                  <p class="username_sm">{{ 'profile.username' | translate }}</p>
                </div>
              </div>
              <p class="post_date"> {{ 'profile.post2Uploaded' | translate }}</p>
            </div>
            <p class="post_desc"> {{ 'profile.post2Description' | translate }}</p>
          </div>
          <div class="post">
            <img src="assets/images/post2.jpg" alt="">
          </div>
          <div class="post_actions content_pad d-flex align-items-center justify-content-between">
            <div class="action_icons d-flex align-items-center">
              <img src="assets/icons/akar-icons_heart.svg" alt="">
              <img src="assets/icons/uil_comment.svg" alt="">
              <img src="assets/icons/ant-design_dollar-circle-outlined.svg" alt="">
              <p>{{ 'profile.sendTip' | translate }}</p>
            </div>
            <img class="pointer" src="assets/icons/book.svg" alt="">
          </div>
          <p class="content_pad">{{ 'profile.post2Likes' | translate }}</p>
          <hr>
        </div>
        <div class="post_wrapper">
          <div class="post_info content_pad">
            <div class="info_top d-flex align-items-center justify-content-between">
              <div class="avatar_name d-flex align-items-center ">
                <img src="assets/icons/Profileavatar.svg" alt="">
                <div>
                  <div class="d-flex align-items-center">
                    <p class="name_sm">{{ 'profile.name' | translate }}</p>
                    <img src="assets/icons/charm_circle-tick-dark.svg" alt="">
                  </div>
                  <p class="username_sm">{{ 'profile.username' | translate }}</p>
                </div>
              </div>
              <p class="post_date">{{ 'profile.post3Uploaded' | translate }}</p>
            </div>
            <p class="post_desc">{{ 'profile.post3Description' | translate }}</p>
          </div>
          <div class="post">
            <img src="assets/images/post3.jpg" alt="">
          </div>
          <div class="post_actions content_pad d-flex align-items-center justify-content-between">
            <div class="action_icons d-flex align-items-center">
              <img src="assets/icons/akar-icons_heart.svg" alt="">
              <img src="assets/icons/uil_comment.svg" alt="">
              <img src="assets/icons/ant-design_dollar-circle-outlined.svg" alt="">
              <p>{{ 'profile.sendTip' | translate }}</p>
            </div>
            <img class="pointer" src="assets/icons/book.svg" alt="">
          </div>
          <p class="content_pad"> {{ 'profile.post3Likes' | translate }}</p>
          <hr>
        </div>
        <div class="post_wrapper">
          <div class="post_info content_pad">
            <div class="info_top d-flex align-items-center justify-content-between">
              <div class="avatar_name d-flex align-items-center ">
                <img src="assets/icons/Profileavatar.svg" alt="">
                <div>
                  <div class="d-flex align-items-center">
                    <p class="name_sm">{{ 'profile.name' | translate }}</p>
                    <img src="assets/icons/charm_circle-tick-dark.svg" alt="">
                  </div>
                  <p class="username_sm">{{ 'profile.username' | translate }}</p>
                </div>
              </div>
              <p class="post_date">{{ 'profile.post4Uploaded' | translate }}</p>
            </div>
            <p class="post_desc">{{ 'profile.post4Description' | translate }}</p>
          </div>
          <div class="post">
            <img src="assets/images/post3.jpg" alt="">
          </div>
          <div class="post_actions content_pad d-flex align-items-center justify-content-between">
            <div class="action_icons d-flex align-items-center">
              <img src="assets/icons/akar-icons_heart.svg" alt="">
              <img src="assets/icons/uil_comment.svg" alt="">
              <img src="assets/icons/ant-design_dollar-circle-outlined.svg" alt="">
              <p>{{ 'profile.sendTip' | translate }}</p>
            </div>
            <img class="pointer" src="assets/icons/book.svg" alt="">
          </div>
          <p class="content_pad">{{ 'profile.post4Likes' | translate }}</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="side_content">
      <div class="side_content_data">
        <div class="search_input">
          <p>{{ 'profile.search' | translate }}</p>
          <img src="assets/icons/bx_searchlight.svg" alt="">
        </div>
        <div class="recents">
          <p>{{ 'profile.recents' | translate }}</p>
          <div class="d-flex align-items-center gap-2 mt-2">
            <img src="assets/images/female.png" alt="">
            <img src="assets/images/Rectangle17.png" alt="">
            <img src="assets/images/f1.png" alt="">
          </div>
        </div>
        <div class="recents">
          <p>{{ 'profile.friends' | translate }}</p>
          <div class="d-flex align-items-center gap-2 mt-2">
            <div class="sm_profile_info">
              <img class="prof_cover_sm pointer" src="assets/images/profile_cover.svg" alt="">
              <img  class="prof_avatar_sm pointer" src="assets/images/Profileavatarsm.svg" alt="">
              <div class="sm_prof_name">
                <div class="d-flex align-items-center justify-content-center">
                  <p class="name_xs">{{ 'profile.friend1Name' | translate }}</p>
                  <img class="tick_sm" src="assets/icons/charm_circle-tick-dark.svg" alt="">
                </div>
                <p class="username_sm">{{ 'profile.friend1UserName' | translate }}</p>
              </div>
            </div>
            <div class="sm_profile_info">
              <img class="prof_cover_sm" src="assets/images/covers.svg" alt="">
              <img  class="prof_avatar_sm" src="assets/images/Profileatar.svg" alt="">
              <div class="sm_prof_name">
                <div class="d-flex align-items-center justify-content-center">
                  <p class="name_xs">{{ 'profile.friend2Name' | translate }}</p>
                  <img class="tick_sm" src="assets/icons/charm_circle-tick-dark.svg" alt="">
                </div>
                <p class="username_sm">{{ 'profile.friend2UserName' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
