@import "../ui-elements/base/variables";
@import "../ui-elements/base/fonts";

.header{
  height: 64px;
  border-bottom: 1px solid #C9C9C9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_content{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  img{
    cursor: pointer;
  }
}

.statistics{
  img{
    width: 16px;
    margin: 0 6px 0 0;
  }

}

.profile_content{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  gap: 16px;
  justify-content: stretch;
  .empty{
    width: 100%;
  }
  .main_content{
    width: 500px;
    border-right: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
  }
  .side_content{
    width: 100%;
  }
}

.profile_cover{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0) 100%), url("../../assets/images/profile_coverjpg.jpg");
  background-size:cover;
  height: 180px;
  padding: 16px;
  position: relative;
}

.short_data{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar{
  width: 96px;
  height: 96px;
  border-radius: 32px;
  background: url("../../assets/images/avatar.svg");
  background-size: cover;
  position: relative;
  bottom: 32px;
}

.avatar_actions{
   padding: 0 16px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.online{
  width: 14px;
  height: 14px;
  background: #35D063;
  position: absolute;
  bottom: 4px;
  right: 7px;
  border-radius: 40px;
  border: 1px solid white;
}

.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.name{
  font-size: 18px;
  color: white;
  margin-right: 10px;
  margin-bottom: 4px;
}
.back{
  margin-right: 16px;
}
.tick{
  margin-bottom: 4px;
}
.dot{
  width: 3px;
  height: 3px;
  border-radius: 24px;
  background: white;
  margin-right: 6px;
}
.statistics{
  color: white;
  font-size: 15px;
  margin-bottom: 0;
  margin-right: 6px;
}

.actions{
  img{
    width: 40px;
    cursor: pointer;
  }
  img:first-child{
    margin-right: 16px;
  }
}
.profile_info_desc{
  padding: 0 16px;
}
.name_dark{
  font-size: 18px;
  margin-right: 16px;
  font-weight: bold;
  margin-bottom: 0;
  font-family: $roboto_bold;
  letter-spacing: 0;
}
.mb-2{
  margin-bottom: 6px;
}
.username{
  p{
    font-size: 16px;
    color: #969696;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.read_more{
  color: $main_accent;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 4px;
  cursor: pointer;
}
.social_item{
  border-radius: 20px;
  background: #F1F1F1;
  padding-right: 12px;
  margin-right: 16px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 24px;
  p{
    font-size: 15px;
    margin: 0;
    cursor: pointer;
  }
}
.social_icon{
  width: 30px;
  height: 30px;
  border-radius: 32px;
  margin-right: 6px;
  img{
    width: 20px;
  }
}
.instagram{
  background: #F53178;
}
.tiktok{
  background: black;
}
.twitter{
  background: #00AFF0;
}

.navigates{
  margin-bottom: 24px;
}

.navigate_item{
  width: 90px;
  height: 90px;
  border-radius: 4px;
  background: #00000050 url("../../assets/images/stories.jpg");
  background-size: cover;
  margin-right: 16px;
  position: relative;
  p{
   font-size: 12px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
  }
}
.navigate_item2{
  background: #00000050 url("../../assets/images/videos.jpg");
  background-size: cover;
}
.navigate_item3{
  background: #00000050 url("../../assets/images/archives.jpg");
  background-size: cover;
}

.post_tabs{
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
  .posts{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    cursor: pointer;
    p{
      font-size: 14px;
      margin: 0;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .medias{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p{
      font-size: 14px;
      color: #9F9F9F;
      margin: 0;
    }
  }
}
.post_filter{
  padding: 0 16px;
  margin-bottom: 24px;
  p{
    font-size: 18px;
    color: #9F9F9F;
    font-weight: bold;
    margin-bottom: 0;
  }
}
.filter{
  img:first-child{
    margin-right: 16px;
  }
  img{
    cursor: pointer;
  }
}

.tag_item{
  border-radius: 20px;
  background: #F1F1F1;
  padding: 0 16px;
  margin-right: 16px;
  height: 28px;
  cursor: pointer;
  margin-bottom: 24px;
    font-size: 14px;
}
.tags{
  padding: 0 16px;
  flex-wrap: wrap;
}
.selected{
  background: #AEE9FF;
}
.content_pad{
  padding: 0 16px;
}

.name_sm{
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 0;
  font-family: $roboto_bold;
  letter-spacing: 0px;
}
.avatar_name{
  img{
    margin-right: 16px;
    cursor: pointer;
  }
}
.username_sm{
  font-size: 12px;
  color: #969696;
  margin-top: 6px;
  margin-bottom: 0;
}
.post_date{
  font-size: 15px;
  color: #969696;
}

.post_desc{
  font-size: 16px;
  margin: 16px 0;
}
.post{
  width: 100%;
  height: 880px;
  overflow: hidden;
  background: #edfbff;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 16px;
  }
}

.post_actions{
  margin: 16px 0;
}

.action_icons{
  img{
    margin-right: 16px;
    cursor: pointer;
  }
  p{
    color: #9F9F9F;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 0;
  }
}

hr{
  border-top: 0px solid #9F9F9F;
  margin: 24px 0;
}

.search_input{
  width: 100%;
  height: 56px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  p{
    color: #E9E9E9;
    margin: 0;
  }
}
.side_content_data{
  width: 290px;
  padding: 24px 0;
}
.recents{
  background: transparent;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  padding: 16px;
  margin-bottom: 16px;
  p{
    color: #E9E9E9;
    margin: 0;
  }
  img{
    width:77px;
    cursor: pointer;
  }
}

.gap-2{
  gap: 10px ;
}
.mt-2{
  margin-top: 16px;
}

.sm_profile_info{
  width: 120px;
  height: 130px;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  position: relative;
  overflow: hidden;
  .prof_cover_sm{
    width: 100%;
    height: 60px;
    object-fit: cover;
  }
  .prof_avatar_sm{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 25px;
    width: 60px;
  }
  .tick_sm{
    width: 14px;
    margin-left: 4px;
  }
  .sm_prof_name{
    position: relative;
    top: 26px;
    text-align: center;
  }
  .name_xs{
    font-size: 12px;
    font-weight:bolder;
    color: #000;
  }
}

.pointer{
  cursor: pointer;
}

@media (max-width: 1024px) {
  .side_content_data{
    display: none;
  }

}

@media (max-width: 768px) {
.empty {
  width: 0 !important;
}
  .side_content {
    width: 0 !important;
  }
.main_content{
  width: 100% !important;
  min-width: 100% !important;
  border-left: none !important;
  border-right: none !important;
}
  .profile_content{
    grid-template-columns: 1fr;
  }
  .tags{
    flex-wrap: wrap;
  }
  .header_content {
    padding: 0 16px;
  }
  .post {
    width: 100%;
    height: 700px;
  }
  .statistics{
    white-space: nowrap;
  }
  .name_dark{
    letter-spacing: 0 ;
  }
  .name_sm {
  letter-spacing: -1px;
  }
}
