<div class="profile_modal" bsModal #modal="bs-modal">
  <h2 class="modal_head">{{ 'dialog.subscribe' | translate }}</h2>
  <div class="modal_content">
    <div class="profile_brief_info">
      <div class="profile_sm_cover">
        <div class="avatar_name d-flex align-items-center">
          <img src="assets/images/Profileavatarsm.svg" alt="">
          <div>
            <p>{{ 'profile.name' | translate }}</p>
            <p>{{ 'profile.username' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="profile_advantages">
      <p class="subs_head">{{ 'dialog.subscribeBenefits' | translate }}</p>
        <div class="div">
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>{{ 'dialog.benefit1' | translate }}</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>{{ 'dialog.benefit2' | translate }}</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>{{ 'dialog.benefit3' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="profile_sub_stepper">
      <form [formGroup]="registrationForm" >
      <ng-stepper #cdkStepper [linear]="true" [selectedIndex]="activeStepIndex">
        <cdk-step #activeStepIndex0  [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">1</div>
          </ng-template>
          <div class="step_one">
            <p class="step_header">{{ 'dialog.stepAdult' | translate }}</p>
            <p class="step_header">{{ 'dialog.checkAdult' | translate }}</p>
            <button class="stepper_generic first_step" (click)="next(cdkStepper)">{{ 'dialog.proceed' | translate }} </button>
          </div>

        </cdk-step>

        <cdk-step  [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">2</div>
          </ng-template>
          <div class="step_two">
            <p class="step_header">{{ 'dialog.gender' | translate }} </p>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic"  (click)="next(cdkStepper); onSelectGender(true)"  >
<!--                <p formControlName="gender">Male</p>-->
                <label class="pointer">{{ 'dialog.male' | translate }}</label>
                <input class="d-none" type="text" [value]="'Male'" formControlName="gender" readonly style="border:0">
              </button>
              <button class="gender_option_item stepper_generic" (click)="next(cdkStepper); onSelectGender(false)" >
                <label>{{ 'dialog.female' | translate }}</label>
                <input class="d-none" type="text" [value]="'Female'" formControlName="gender" readonly style="border:0">
              </button>
            </div>
          </div>
        </cdk-step>

        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">3</div>
          </ng-template>
          <div class="step_three">
            <p class="step_header">{{ 'dialog.birthday' | translate }}</p>
            <div class="birthday">
              <input [ngClass]="{ validate_input: (registrationForm.get('day')?.invalid) || (!isLegitMonth)}" class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="{{ 'dialog.dd' | translate }}" min="0" max="31" formControlName="day" appTwoDigitDecimaNumber [(ngModel)]="day" (ngModelChange)="checkDaysInmonth()" >
              <input [ngClass]="{ validate_input: (registrationForm.get('month')?.invalid)  ||  (!isLegitMonth)}" class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="{{ 'dialog.mm' | translate }}" min="0"  max="12" formControlName="month" appTwoDigitDecimaNumber [(ngModel)]="month" (ngModelChange)="checkDaysInmonth()">
              <input [ngClass]="{ validate_input: (registrationForm.get('year')?.invalid) || (!isLegitMonth)}" class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="{{ 'dialog.yyyy' | translate }}" min="1900" max="2004" formControlName="year" appFourDigitDecimaNumber [(ngModel)]="year" (ngModelChange)="ageDIff(); checkDaysInmonth()">
            </div>
            <div class="validate" *ngIf="(registrationForm.get('day')?.invalid && (registrationForm.get('day')?.dirty || registrationForm.get('day')?.touched)) || !isLegitMonth">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.dayValidation' | translate }}
            </div>
            <div class="validate" *ngIf="registrationForm.get('month')?.invalid && (registrationForm.get('month')?.dirty || registrationForm.get('month')?.touched)">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt=""> {{ 'dialog.monthValidation' | translate }}
            </div>
            <div class="validate" *ngIf="!this.isLegal">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.yearValidation' | translate }}
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
                <p>{{ 'dialog.back' | translate }}</p>
              </button>
              <button class="gender_option_item stepper_generic" (click)="next(cdkStepper); setDOB(); ageDIff()"  [ngClass]="{ disabled_button: (registrationForm.get('day')?.invalid || registrationForm.get('month')?.invalid  || registrationForm.get('year')?.invalid) || (!isLegitMonth)}"
                      [disabled]="(registrationForm.get('day')?.invalid || registrationForm.get('month')?.invalid  || registrationForm.get('year')?.invalid) || (!isLegitMonth)">
                <p>{{ 'dialog.next' | translate }}</p>
              </button>
            </div>
          </div>
        </cdk-step>

        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">4</div>

          </ng-template>
          <div class="step_four">
              <p class="step_header">{{ 'dialog.location' | translate }}</p>
<!--              <ng-select [ngClass]="{ validate_input: registrationForm.get('location')?.invalid && (registrationForm.get('location')?.dirty || registrationForm.get('location')?.touched)}" (change)="getselectedAdress(selectedCity)" [items]="cities" (ngModelChange)="addressAdded = true; " (search)="getLocations($event)" #ngselect [(ngModel)]="selectedCity" [appearance]="'outline'" class="ng-select ng_input" placeholder="{{ 'dialog.locationPLaceholder' | translate }}"  formControlName="location" >-->
<!--                <ng-template ng-label-tmp let-city="item">-->
<!--                  <b>{{city}}</b>-->
<!--                </ng-template>-->
<!--              </ng-select>-->
            <div class="ng-autocomplete">
              <ng-autocomplete
                [ngClass]="{ validate_input: registrationForm.get('location')?.invalid && (registrationForm.get('location')?.dirty || registrationForm.get('location')?.touched)}"
                [(ngModel)]="selectedCity"
                formControlName="location"
                [data]="cities"
                [searchKeyword]="keyword"
                placeholder="{{ 'dialog.locationPLaceholder' | translate }}"
                (selected)='getselectedAdress(selectedCity)'
                (inputChanged)='addressAdded = true;getLocations($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-city>
                <a [innerHTML]="city"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>


            <div class="validate" *ngIf="registrationForm.get('location')?.invalid && (registrationForm.get('location')?.dirty || registrationForm.get('location')?.touched)">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.locationValidation' | translate }}
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)" >
                <p>{{ 'dialog.back' | translate }}</p>
              </button>
              <button class="gender_option_item stepper_generic" [ngClass]="{ disabled_button: (registrationForm.get('location')?.invalid || registrationForm.get('location')?.invalid  || registrationForm.get('location')?.invalid)}"
                      [disabled]="(registrationForm.get('location')?.invalid || registrationForm.get('location')?.invalid  || registrationForm.get('location')?.invalid)" (click)="next(cdkStepper)" >
                <p>{{ 'dialog.next' | translate }}</p>
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">5</div>
          </ng-template>
          <div class="step_five">
            <p class="step_header">{{ 'dialog.username' | translate }}</p>
            <input  [ngClass]="{ validate_input: registrationForm.get('location')?.invalid && registrationForm.get('location')?.invalid }" type="text" class="input_item" placeholder="Your username" formControlName="username">
            <div class="validate" *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">   {{ 'dialog.usernameValidation' | translate }}
            </div>
            <div class="validate" *ngIf="(registrationForm.get('username')?.value.length < 6) ">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.usernameValidationMin' | translate }}
            </div>
            <div class="validate" *ngIf="usernameError ">
              <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{usernameValidation}}
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
                <p>{{ 'dialog.back' | translate }}</p>
              </button>
              <button class="gender_option_item stepper_generic" (click)="checkUsername(registrationForm,cdkStepper)" [ngClass]="{ disabled_button: registrationForm.get('username')?.invalid }"
                      [disabled]="registrationForm.get('username')?.invalid && usernameError ">
                <p>{{ 'dialog.next' | translate }}</p>
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">6</div>
          </ng-template>

          <p class="step_header"> {{ 'dialog.password' | translate }}</p>
          <input  [ngClass]="{ validate_input: (registrationForm.get('password')?.invalid || !hasNumber(password))}" [(ngModel)]="password" type="password" class="input_item" placeholder="Your password" formControlName="password">
          <div class="validate" *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched) && !hasNumber(password)">
            <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.passwordValidation' | translate }}
          </div>
          <div class="validate" *ngIf="!hasNumber(password)" >
            <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.passwordValidationNumber' | translate }}
          </div>
          <div class="gender_options">
            <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
              <p>{{ 'dialog.back' | translate }}</p>
            </button>
            <button class="gender_option_item stepper_generic" (click)="next(cdkStepper)" [ngClass]="{ disabled_button: (registrationForm.get('password')?.invalid || !hasNumber(password)) }"
                    [disabled]="registrationForm.get('password')?.invalid">
              <p>{{ 'dialog.next' | translate }} </p>
            </button>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">7</div>
          </ng-template>
          <p class="step_header"> {{ 'dialog.email' | translate }}</p>
          <input [ngClass]="{ validate_input: registrationForm.get('email')?.invalid }" type="email" class="input_item" placeholder="Your Email" formControlName="email">
          <div class="validate" *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
            <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">  {{ 'dialog.emailValidation' | translate }}
          </div>
          <p class="validate" *ngIf="mailError">
            <img src="assets/icons/ant-design_exclamation-circle-outlined.svg" alt="">{{mailValidation}}</p>
          <div class="gender_options">
            <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
              <p>{{ 'dialog.back' | translate }}</p>
            </button>
            <button class="gender_option_item stepper_generic" aria-label="Close"  (click)="onSubmit(registrationForm)" [ngClass]="{ disabled_button: registrationForm.get('email')?.invalid }"
                    [disabled]="registrationForm.get('email')?.invalid">
              <p> {{ 'dialog.finish' | translate }}</p>
            </button>
          </div>
        </cdk-step>
      </ng-stepper>
      </form>
    </div>
  </div>
  <hr>
  <button class="close_modal" (click)="hide()">{{ 'dialog.close' | translate }}</button>
</div>
<alert type="success" *ngIf="success" [dismissOnTimeout]="3000">
  <strong>Well done!</strong> You successfully registered.
</alert>

<alert type="danger" *ngIf="error" >
  <strong>Oh snap!</strong> {{errorMessage}}
</alert>
