<div class="profile_modal" bsModal #modal="bs-modal">
  <h2 class="modal_head">SUBSCRIBE</h2>
  <div class="modal_content">
    <div class="profile_brief_info">
      <div class="profile_sm_cover">
        <div class="avatar_name d-flex align-items-center">
          <img src="assets/images/Profileavatarsm.svg" alt="">
          <div>
            <p>Eva Jackson</p>
            <p>@thatonegirl</p>
          </div>
        </div>
      </div>
      <div class="profile_advantages">
      <p class="subs_head">SUBSCRIBE AND GET THESE BENEFITS:</p>
        <div class="div">
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>Full access to this user's content</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>Full access to this user's content</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="assets/icons/bi_check.svg" alt="">
            <p>Full access to this user's content</p>
          </div>
        </div>
      </div>
    </div>
    <div class="profile_sub_stepper">
      <form [formGroup]="registrationForm" >
      <ng-stepper #cdkStepper [linear]="true" [selectedIndex]="activeStepIndex">
        <cdk-step #activeStepIndex0  [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">1</div>
          </ng-template>
          <div class="step_one">
            <p class="step_header">This website is for adults only</p>
            <p class="step_header">Are you over 18 years old?</p>
            <button class="stepper_generic first_step" (click)="next(cdkStepper)"> Yes, proceed</button>
          </div>

        </cdk-step>

        <cdk-step  [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">2</div>
          </ng-template>
          <div class="step_two">
            <p class="step_header">What is your gender? </p>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic"  (click)="next(cdkStepper); onSelectGender(true)"  >
<!--                <p formControlName="gender">Male</p>-->
                <label class="pointer">Male</label>
                <input class="d-none" type="text" [value]="'Male'" formControlName="gender" readonly style="border:0">
              </button>
              <button class="gender_option_item stepper_generic" (click)="next(cdkStepper); onSelectGender(false)" >
                <label>Female</label>
                <input class="d-none" type="text" [value]="'Female'" formControlName="gender" readonly style="border:0">
              </button>
            </div>
          </div>
        </cdk-step>

        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">3</div>
          </ng-template>
          <div class="step_three">
            <p class="step_header">Your birthday :</p>
            <div class="birthday">
              <input class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="DD" min="0" max="31" formControlName="day">
              <input class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="MM" min="0"  max="12" formControlName="month">
              <input class="input_item" inputmode="numeric" pattern="[0-9]*" type="number" placeholder="YYYY" min="4"  max="2022" formControlName="year">
            </div>
            <div class="validate" *ngIf="registrationForm.get('day')?.invalid && (registrationForm.get('day')?.dirty || registrationForm.get('day')?.touched)">
              Pls provide a legit day
            </div>
            <div class="validate" *ngIf="registrationForm.get('month')?.invalid && (registrationForm.get('month')?.dirty || registrationForm.get('month')?.touched)">
              Pls provide a legit month
            </div>
            <div class="validate" *ngIf="registrationForm.get('year')?.invalid && (registrationForm.get('year')?.dirty || registrationForm.get('year')?.touched)">
              Pls provide a legit year
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
                <p>Back</p>
              </button>
              <button class="gender_option_item stepper_generic" (click)="next(cdkStepper); setDOB()"  [ngClass]="{ disabled_button: (registrationForm.get('day')?.invalid || registrationForm.get('month')?.invalid  || registrationForm.get('year')?.invalid)}"
                      [disabled]="(registrationForm.get('day')?.invalid || registrationForm.get('month')?.invalid  || registrationForm.get('year')?.invalid)">
                <p>Next</p>
              </button>
            </div>
          </div>
        </cdk-step>

        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">4</div>

          </ng-template>
          <div class="step_four">
              <p class="step_header">Your location:</p>
              <ng-select (change)="getselectedAdress(selectedCity)" [items]="cities" (ngModelChange)="addressAdded = true; " (search)="getLocations($event)" #ngselect [(ngModel)]="selectedCity" [appearance]="'outline'" class="ng-select ng_input" [placeholder]="'Enter city name'"  formControlName="location" >
                <ng-template ng-label-tmp let-city="item">
                  <b>{{city}}</b>
                </ng-template>
              </ng-select>
            <div class="validate" *ngIf="registrationForm.get('location')?.invalid && (registrationForm.get('location')?.dirty || registrationForm.get('location')?.touched)">
              Pls provide a legit loaction
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)" >
                <p>Back</p>
              </button>
              <button class="gender_option_item stepper_generic" [ngClass]="{ disabled_button: (registrationForm.get('location')?.invalid || registrationForm.get('location')?.invalid  || registrationForm.get('location')?.invalid)}"
                      [disabled]="(registrationForm.get('location')?.invalid || registrationForm.get('location')?.invalid  || registrationForm.get('location')?.invalid)" (click)="next(cdkStepper)" >
                <p>Next</p>
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">5</div>
          </ng-template>
          <div class="step_five">
            <p class="step_header">Your username</p>
            <input type="text" class="input_item" placeholder="Your username" formControlName="username">
            <div class="validate" *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
              Please provide a name.
            </div>
            <div class="gender_options">
              <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
                <p>Back</p>
              </button>
              <button class="gender_option_item stepper_generic" (click)="next(cdkStepper)" [ngClass]="{ disabled_button: registrationForm.get('username')?.invalid }"
                      [disabled]="registrationForm.get('username')?.invalid">
                <p>Next</p>
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">6</div>
          </ng-template>

          <p class="step_header">Your Password</p>
          <input type="password" class="input_item" placeholder="Your password" formControlName="password">
          <div class="validate" *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
            Please provide a legit Password.
          </div>
          <div class="gender_options">
            <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
              <p>Back</p>
            </button>
            <button class="gender_option_item stepper_generic" (click)="next(cdkStepper)" [ngClass]="{ disabled_button: registrationForm.get('password')?.invalid }"
                    [disabled]="registrationForm.get('password')?.invalid">
              <p>Next</p>
            </button>
          </div>
        </cdk-step>
        <cdk-step [optional]="true">
          <ng-template cdkStepLabel>
            <div class="step-bullet">7</div>
          </ng-template>
          <p class="step_header">Your email</p>
          <input type="email" class="input_item" placeholder="Your Email" formControlName="email">
          <div class="validate" *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
            Please provide a valid email address.
          </div>
          <div class="gender_options">
            <button class="gender_option_item stepper_generic stepper_back"  (click)="back(cdkStepper)">
              <p>Back</p>
            </button>
            <button class="gender_option_item stepper_generic" aria-label="Close"  (click)="onSubmit(registrationForm)" [ngClass]="{ disabled_button: registrationForm.get('email')?.invalid }"
                    [disabled]="registrationForm.get('email')?.invalid">
              <p>Finish</p>
            </button>
          </div>
        </cdk-step>
      </ng-stepper>
      </form>
    </div>
  </div>
  <hr>
  <button class="close_modal" (click)="hide()">Close</button>
</div>
<alert type="success" *ngIf="success" [dismissOnTimeout]="3000">
  <strong>Well done!</strong> You successfully registered.
</alert>

<alert type="danger" *ngIf="error" >
  <strong>Oh snap!</strong> {{errorMessage}}
</alert>
